---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: Samim;
  src: url('/fonts/Samim.eot');
  src: url('/fonts/Samim.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Samim.woff') format('woff'),
       url('/fonts/Samim.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Samim;
  src: url('/fonts/Samim-Bold.eot');
  src: url('/fonts/Samim-Bold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Samim-Bold.woff') format('woff'),
       url('/fonts/Samim-Bold.ttf') format('truetype');
  font-weight: bold;
}

body {
  direction: rtl;
}

// Our variables
$base-font-family: "Samim", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    960px;

$on-palm:          600px;
$on-laptop:        800px;

.list-post-title a, a, a:visited {
  color: $brand-color;
}

.list-post-title a:hover, a:hover {
  color: darken($brand-color, 15%);
  text-decoration: none;
}
a.english.continue, a.english.continue:visited {
  color: $brand-color;
  float: right;
}

a.farsi.continue, a.farsi.continue:visited {
  color: $brand-color;
  float: left;
}

a.farsi.continue:hover, a.english.continue:hover {
  text-decoration: none;
  color: darken($brand-color, 15%);
}

.masthead .masthead-title a {
  color: $grey-color-dark;
}

.masthead .masthead-title a:hover {
  color: $grey-color;
}

.return.home {
  color: $grey-color-dark;
}
// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
