---
layout: default
---
<header class="masthead">
  <h1 class="masthead-title">
    <a href="{{ site.baseurl }}/">{{ site.title_fa }}</a>
    <p></p>
    <a href="{{ site.baseurl }}/">{{ site.title }}</a>
    <hr />
  </h1>
  <nav class="masthead-nav">
    {% for nav in site.nav %}
    <a href="{{ nav.href }}">{{ nav.name }}</a>
    {% endfor %}
  </nav>
</header>
<div class="content list">
{% if site.posts.size == 0 %}
  <h2>No post found</h2>
{% else %}
{% for post in site.posts %}
  {% if post.layout == 'post_fa' %}
  <div class="list-item">
    <h2 class="list-post-title">
      <a class="header" href="{{ site.baseurl }}{{ post.url }}">{{ post.title_fa }}</a>
    </h2>
    <div class="list-post-date">
      <!-- <time>{{ post.date | date_to_string }}</time> -->
      <span class="shamsi date">{{ post.date_fa }}</span>
      {% if post.tags.size() > 0 %}
      <span class="farsi tags">
        {% for tag in site.tags %}
        <span class="tag">{{ tag | first }}</span>
        {% endfor %}
      </span>
      {% endif %}
    </div>
    <div class="list-post-excerpt">
      {{ post.excerpt }}
      {% if post.excerpt != post.content %}
      <a href="{{ site.baseurl }}{{ post.url }}" style="float: left">ادامه &larr;</a>
      {% endif %}
    </div>
  </div>
  {% endif %}
  {% if post.layout == 'post_en' %}
  <div class="list-item" style="direction:ltr">
    <h2 class="list-post-title">
      <a class="header" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    <div class="list-post-date">
      <span>{{ post.date | date: '%B %d, %Y' }}</span>
      {% if post.tags.size() > 0 %}
      <span class="english tags">
        {% for tag in site.tags %}
        <span class="tag">{{ tag | first }}</span>
        {% endfor %}
      </span>
      {% endif %}
    </div>
    <div class="list-post-excerpt">
      {{ post.excerpt }}
      {% if post.excerpt != post.content %}
      <a href="{{ site.baseurl }}{{ post.url }}" style="float: right">Continue Reading &rarr;</a>
      {% endif %}
    </div>
  </div>
  <br />
  <hr />
  {% endif %}
{% endfor %}
{% endif %}
</div>
