---
layout: default
comments: true
---
<header class="masthead">
  <h1 class="masthead-title--small" style="direction:ltr" >
    <a class="return" href="{{ site.baseurl }}/">&larr; Return</a>
  </h1>
</header>
<div class="content post" style="direction:ltr">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-date">
    <time>{{ page.date | date: '%B %d, %Y' }}</time>
  </div>
  
  <div class="english tags">
    {% for tag in page.tags %}
    <span class="tag">{{ tag }}</span>
    {% endfor %}
  </div>
  {% if page.tags.size > 0 %}
  <div class="" style="height: 50px;"></div>
  {% endif %}

  {{ content }}
</div>
